.profile__edit-button {
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-image: url("../../../images/edit-button.svg");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}
@media screen and (max-width:  900px) {
    .profile__edit-button {
        align-self: center;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
      }
}