.header__logo {
  object-fit: scale-down;
  width: 142px;
  height: 33px;
}

@media screen and (max-width:  900px) {
    .header__logo {
        /* transform: scale(0.7); */
        width: 104px;
        height: 24px;
        padding-top: 4px;
        padding-left: 20px;
      }
}