.popup__input-error {
  color: transparent;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 15px;
  margin: 0 0 0 34px;
  /* margin-left: 34px; */
  max-width: 360px;
  position: relative;
  width: 100%;
  max-width: 360px;
}

@media screen and (max-width: 900px) {
  .popup__input-error {
    margin: 0 0 -41px 20px;
    max-width: 238px;
  }
}