.popup__input-error {
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: none;
  margin-left: 34px;
}

@media screen and (max-width: 900px) {
  .popup__input-error {
    margin-left: 20px;
  }
}