.popup__input {
  max-width: 358px;
  width: 100%;
  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  padding-left: 2px;
  margin-left: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
  padding-bottom: 7px;
  padding-top: 23px;
  margin-top: 0px;
}

@media screen and (max-width: 900px) {
  .popup__input {
    max-width: 238px;
    margin-left: 20px;
    height: 24px;
    padding-bottom: 6px;
    padding-top: 25px;
  }
}