.profile__info {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  justify-items: start;
  row-gap: 7px;
  column-gap: 12px;
  padding-top: 2px;
}
@media screen and (max-width:  900px) {
    .profile__info {
        grid-template-columns: 213px 1fr;
        padding-bottom: 33px;
        padding-top: 10px;
      }
}