.element-list__like-button {
  padding-right: 35px;
  padding-top: 20px;
  margin-top: 5px;
  /* margin: 0 ; */
  background-image: url('../../../images/like-button.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}