.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 28px;
  line-height: 13px;
  margin-left: 34px;
  max-width: 360px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 100%;
}


.popup__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 900px) {
  .popup__input {
    height: 29px;
    margin-bottom: -3px;
    margin-left: 20px;
    margin-top: 41px;
    max-width: 238px;
    padding: 0;
}
}