.element-list__card {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  height: 361px;
  object-fit: cover;
}